  
* {
  margin: 0;
  padding: 0;
}

:root {
  --blue: #28ACE8;
  --white: #ffff;
  --grey: rgb(211, 211, 211);
}

.tbl-container {
  max-width: fit-content;
  max-height: fit-content;
  overflow: hidden;
}

.table-container.tbl-fixed {
  overflow-y: scroll;
  overflow-x: scroll;
}

table {
  min-width: max-content;
  border: 2px solid lightgrey;
}

th,
td {
  padding: 8px;
}

table th {
  position: sticky;
  top: 0;
  background-color: var(--blue);
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  z-index: 1;
}

table thead tr th{
  text-align: center;
  outline: 2px solid lightgrey;
}
table tbody tr td{
  text-align: center;
}
@media only screen and (min-width: 769px) and (max-width: 1366px) {
  .table-container.tbl-fixed {
    height: 72vh;
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1600px) {
  .table-container.tbl-fixed {
    height: 80vh;
  }
}

@media only screen and (min-width: 1601px) {
  .table-container.tbl-fixed {
    height: 81vh;
  }
}
  
.password-container {
  position: relative;
}

.form-control {
  padding-right: 40px; /* Adjust this value based on icon size and positioning */
}

.show-password {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust this value for proper positioning */
  transform: translateY(-50%);
  cursor: pointer;
}

/* Sticky Header Styles */
table thead th.sticky {
position: sticky;
top: 0;
z-index: 2;
}

/* Sticky Body Styles */
table tbody {
position: relative;
}

/* Apply sticky positioning */
table tbody tr.sticky,
table tbody th.sticky,
table tbody td.sticky {
position: sticky;
background: white;
outline: 2px solid lightgrey;
z-index: 1;
}
table tbody tr td{
outline:1px solid lightgrey;
}
table tbody tr.sticky td:nth-child(n+2),
table tbody td.sticky:nth-child(n+2) {
left: auto;
transform: translateX(-1px);
}