*{
  margin: 0;
  padding: 0;
}
:root{
  --blue:#28ACE8;
  --white: #ffff;
  --grey: rgb(211,211,211);
}
.tbl-container {
  max-width: fit-content;
  max-height: fit-content;
  overflow: hidden;
}

.table-container.tbl-fixed {
  overflow-y: scroll;
  overflow-x: scroll;
  /* border: 1px solid red; */
}

table {
  min-width: max-content;
  border-collapse: separate;
  border: 1px solid lightgrey;
}

th, td {
  padding: 4px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

table th {
  position: sticky;
  top: 0;
  background-color: var(--blue);
  border: 1px solid lightgrey;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
}

table tr td {
  text-align: center;
  border: 1px solid lightgrey;
}

tr:nth-child(even) {
  background-color: rgba(211, 211, 211, 0.521);
}

/* @media only screen and (max-width: 768px) {
  .table-container.tbl-fixed {
    height: 70vh;
  }
} */
@media only screen and (min-width: 769px) and (max-width: 1366px) {
  .table-container.tbl-fixed {
    /* border: 1px solid orange; */
    height: 72vh;
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1600px) {
  .table-container.tbl-fixed {
    /* border: 1px solid green; */
    height: 80vh;
  }
}
@media only screen and (min-width: 1601px) {
  .table-container.tbl-fixed {
    /* border: 1px solid pink; */
    height: 81vh;
  }
}

/* Pagination button */
/* .buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.buttons button {
  border: none;
  padding: 0.4rem 1.2rem;
  background-color: var(--blue);
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

#page-number {
  border: none;
  text-align: center;
  width: 3rem;
  border-radius: 5px;
  border: 1px solid var(--grey);
}

#page-number:focus {
  outline: none;
} */

